#!/usr/bin/make -f

DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_LDFLAGS_MAINT_APPEND

%:
	dh ${@}

override_dh_auto_configure:
	autoreconf -fi
	dh_auto_configure

override_dh_install:
	DESTDIR=$(CURDIR)/debian/install-usb-gui po/make_po.sh install-usb-gui.mo
	dh_install

override_dh_clean:
	rm -f	depcomp \
		INSTALL \
		missing \
		install-sh \
		configure \
		config.h.in \
		aclocal.m4
	dh_clean

create-icons:
	# requires inkscape and imagemagick to be installed
	@if [ ! -x /usr/bin/convert ]; then \
		echo "ERROR: imagemagick not installed!" ; \
		false ; \
	fi
	@if [ ! -x /usr/bin/inkscape ]; then \
		echo "ERROR: inkscape not installed!" ; \
		false ; \
	fi
	
	# create XDG compatible icons from SVG
	for i in 16 22 32 48 64 128; do \
		mkdir -p "icons/hicolor/$${i}x$${i}/apps" ; \
		inkscape --export-width=$${i} \
			 --export-height=$${i} \
			 --export-png="$(CURDIR)/icons/hicolor/$${i}x$${i}/apps/install-usb-gui.png" \
				$(CURDIR)/icons/install-usb-gui.svg ; \
	done
	
	# create XPM icons for the debian menu system
	mkdir -p icons/pixmaps
	convert icons/hicolor/32x32/apps/install-usb-gui.png icons/pixmaps/install-usb-gui.xpm
	convert icons/hicolor/16x16/apps/install-usb-gui.png icons/pixmaps/install-usb-gui-16.xpm
	
	inkscape --export-width=160 \
		 --export-height=51 \
		 --export-png="$(CURDIR)/src/install-usb-title.png" \
				$(CURDIR)/icons/install-usb-title.svg ; \
